body{
    margin: 0;
}
#header{
    background-color: #ddf;
    padding: 20px;
}

.logo {
    display: inline-block;
}

.logo .fraunhofer{
    display: table-cell;
}
.logo .fraunhofer div{
    display: inline-block;
    vertical-align: bottom;
    font-size: 60px;
}
.logo .fraunhofer img{
    width: 60px;
}

.logo .fokus{
    text-align: right;
    font-size: 30px;
}

.logo .fokus .dana{
    color: #00aa00;
}

.logo .element{
    float: left;
}

/* .logo .dana{
    transform: rotate(90deg);
    transform-origin: 25px 25px 0;
    font-size: 36px;
    color: #00aa00;
} */