.container img{
    width: 100%;
}
body,html{margin:0;padding:0;}
body{
    font-size: 12px;
}

.header{
    background-color: #ddf;
    z-index: 1001;
}

#sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
}

#sticky.scrolled{
    display: block;
}

/* #not-sticky.scrolled{
} */

#turbine-description .title{
    text-align: center;  
    padding: 20px 0;  
}

.content{
    background-color: white;
    padding: 20px 0;
}

#dana{
    z-index: 10;
}

#ventilator{
    z-index: 11;

}

.sky-gradient { background: linear-gradient(to bottom, #757abf 0%,#8583be 30%,#e1c45e 70%,#b26339 100%); }

.sun { 
    position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;  
      width:70px;
      height:70px;
      border-radius:50%;	
      background:#ffd26c;
      opacity:0.9;			
      box-shadow: 0px 0px 40px 15px #ffc904;  
  }
  
  .ray_box {
    position: absolute;
    margin: auto;
      top:0px;
      left:0;
      right:0;
      bottom:0;	
    width:70px;  
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
  }
  .ray {  
      background: -webkit-linear-gradient(top, rgba(255, 201, 4,0) 0%, rgba(255, 201, 4,0.8) 50%, rgba(255, 201, 4,0) 100%);
          background: linear-gradient(top, rgba(255, 201, 4,0) 0%, rgba(255, 201, 4,0.8) 50%, rgba(255, 201, 4,0) 100%); 
      margin-left:10px;
      border-radius:80% 80% 0 0;
      position:absolute;
      opacity:0.1;
  }
  
  .ray1 {    
      height:170px;
      width:30px;
     -webkit-transform: rotate(180deg);
      top:-175px;
      left: 15px;
  }
  .ray2 {
      height:100px;
      width:8px;
     -webkit-transform: rotate(220deg);
      top:-90px;
      left: 75px;
  }
  .ray3 {
      height:170px;
      width:50px;
     -webkit-transform: rotate(250deg);
      top:-80px;
      left: 100px;
  }
  .ray4 {
      height:120px;
      width:14px;
     -webkit-transform: rotate(305deg);
      top:30px;
      left: 100px;
  }
  .ray5 {
      height:140px;
      width:30px;
     -webkit-transform: rotate(-15deg);
      top:60px;
      left: 40px;
  }
  .ray6 {
      height:90px;
      width:50px;
     -webkit-transform: rotate(30deg);
      top:60px;
      left: -40px;
  }
  .ray7 {
      height:180px;
      width:10px;
     -webkit-transform: rotate(70deg);
      top:-35px;
      left: -40px;
  }
  .ray8 {
      height:120px;
      width:30px;
     -webkit-transform: rotate(100deg);
      top:-45px;
      left:-90px;
  }
  .ray9 {
      height:80px;
      width:10px;
     -webkit-transform: rotate(120deg);
      top:-65px;
      left:-60px;
  }
  .ray10 {
      height:190px;
      width:23px;
     -webkit-transform: rotate(150deg);
      top:-185px;
      left: -60px;
  }
  
  
  @-webkit-keyframes ray_anim { 
          0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
  }