<div class="wrapper about-card buttons">
  <div class="me-wrapper">
    <img src="{{ '/assets/img/me.jpg' | relative_url }}" alt="Aray Karjauv" id="me">
  </div>
  <div id="my-infobox">
    <div id="description">
      <div class="my-name"></div>
      <p class="about-me">Research Associate in Machine Learning at Technical University of Berlin</p>
      <div>
        <a href="{{ '/about' | relative_url }}" class="about-me-link">About me</a>
      </div>
    </div>
  </div>
</div>
{% include headers/lights.html %}
