<div class="comment-section">
  <form class="comment-form"
    method="POST"
    action="https://karaycomments-c7c36ff4ee67.herokuapp.com/v3/entry/github/karray/karray.github.io/master/comments"
  >
    <input
      name="options[redirect]"
      type="hidden"
      value="{{ site.url }}{{ page.url }}"
    />
    <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
    <textarea class="comment-text-field" name="fields[message]" placeholder="Message (markdown supported)" required></textarea>
    <div>
      <input class="comment-name-field" name="fields[name]" type="text" placeholder="name" required />
      <button type="submit" class="comment-submit">Post</button>
    </div>
  </form>
  <div class="comments">
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "true" %} 
    {% for comment in comments %}
      <div class="comment">
        <div class="comment-header">
          <div class="comment-avatar">
          </div>
          <div class="comment-name-date">
            <div class="comment-name">{{ comment.name }}</div>
            <div class="comment-date">{{ comment.date | date: "%B %-d, %Y" }}</div>
          </div>
        </div>
        <div class="comment-message">{{ comment.message | strip_html | replace: "#", "" | markdownify }}</div>
      </div>
    {% endfor %}
</div>
