<div class="comment-section">
  <form
    id="comment-form"
    class="comment-form"
    method="POST"
    action="https://karaycomments-c7c36ff4ee67.herokuapp.com/v3/entry/github/karray/karray.github.io/master/comments"
  >
    <input
      name="options[redirect]"
      type="hidden"
      value="{{ site.url }}{{ page.url }}"
    />
    <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
    <input
      class="comment-name-field"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
      maxlength="40"
    />
    <textarea
      class="comment-text-field"
      name="fields[message]"
      placeholder="Message (markdown supported)"
      required
    ></textarea>
    <div>
      <button type="submit" class="comment-submit">Post</button>
    </div>
  </form>
  <div class="comments">
    <div
      style="display: none"
      id="comments-success-msg"
      class="alert alert-warning"
    >
      Your comment will be visible after it is approved.
    </div>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item",
    "true" %} {% for comment in comments %}
    <div class="comment">
      <div class="comment-header">
        {% assign name_stripped = comment.name | strip_html | truncate: 40 %}
        <div class="comment-avatar" data-name="{{ name_stripped }}">
          {% assign initials = name_stripped | split: " " %} {% if initials.size
          == 1 %} {% assign initials = initials[0] | slice: 0, 2 %} {% else %}
          {% assign initials = initials[0] | slice: 0, 1 %} {% assign initials =
          initials | append: initials[1] %} {% endif %} {{ initials | upcase }}
        </div>
        <div class="comment-name-date">
          <div class="comment-name">{{ name_stripped }}</div>
          <div class="comment-date">
            {{ comment.date | date: "%H:%M - %b %-d, %Y" }}
          </div>
        </div>
      </div>
      <div class="comment-message">
        {{ comment.message | strip_html | remove: "#" | markdownify | newline_to_br }}
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    // disable button on from submit
    document
      .getElementById("comment-form")
      .addEventListener("submit", function () {
        const postBtn = document.querySelector(".comment-submit");
        postBtn.disabled = true;
        postBtn.innerHTML = "Posting...";
      });

    const hashCode = (s) =>
      s.split("").reduce((a, b) => ((a << 5) - a + b.charCodeAt(0)) | 0, 0);
    Array.from(document.getElementsByClassName("comment-avatar")).forEach(
      function (el) {
        el.style.backgroundColor = `hsl(${
          hashCode(el.dataset.name) % 360
        }, 50%, 80%)`;
      }
    );
    // if comment successfully added, scroll to it #comments and show the notification that it is on moderation
    if (window.location.href.indexOf("comment=success") > -1) {
      const el = document.getElementById("comments-success-msg");
      el.style.display = "block";
      el.scrollIntoView();
    }
  </script>
</div>
