{%- assign raw = include.ref | default: "" | strip -%}
{%- assign line_sep = include.line_delim | default: ";" -%}
{%- assign ref_sep = include.ref_delim | default: "|" -%}

{% assign ref_lines = raw | split: line_sep %}
<div id="references">
    {% for r in ref_lines %}
    {% assign r = r | strip -%}
    {% if r != "" %}
    {%- assign parts = r | split: ref_sep -%}

    {%- assign author = parts[0] | default: "" | strip -%}
    {%- assign year = parts[1] | default: "" | strip -%}
    {%- assign title = parts[2] | default: "" | strip -%}

    {%- assign author_bits = author | split: "," -%}
    {%- assign name_token = author_bits[0] | default: author | strip -%}

    {%- assign title_first = title | split: " " | first | default: "" | strip -%}

    {%- assign anchor_raw = name_token | append: year | append: title_first -%}
    {%- assign anchor = anchor_raw | slugify: "latin" -%}

    <div id="{{ anchor }}" data-index="{{ forloop.index }}" data-author="{{ name_token }}" data-year="{{ year }}" data-title="{{ title }}" data-index="{{ forloop.index }}">
        [{{ forloop.index }}]
        {{ author }}{% if year != "" %} ({{ year }}){% endif %}.
        {% if title != "" %}<em>{{ title }}</em>.{% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>