#waka{
    font-size: 18px;
    border: none;
    width: initial;

    td{
        border: none;
        padding: 0;

        &:nth-child(2){
            padding: 0 15px;
        }
    }
}

#stackoverflow{
    .tag{
        color: #fff;
        display: inline-block;
        font-size: 18px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: #3b4045;
        width: initial;
        padding: 5px;
        margin: 5px;

        span{
            padding: 0 5px;
        }
    }
}