.alert {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;

    p {
        margin-bottom: 0;
        display: inline;
    }
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-warning {
    background-color: #fff8d2;
    border-color: #e5deba;
    color: #c09853;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}