.header-background {
    height: 60vmin;
    overflow: hidden;
    // background: radial-gradient(#563d7c, #3d1b70);
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color: #fff;
    .light {
        position: absolute;
        width: 0px;
        background-color: white;
        box-shadow: #e9f1f1 0px 0px 20px 2px;
        opacity: 0;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .x1 {
        animation: falling 4s infinite linear;
        transform: scale(1.0);
    }

    .x2 {
        animation: falling 7s infinite linear;
        transform: scale(1.6);
        left: 15%;
    }

    .x3 {
        animation: falling 2.5s infinite linear;
        transform: scale(.5);
        left: -15%;
    }

    .x4 {
        animation: falling 4.5s infinite linear;
        transform: scale(1.2);
        left: -34%;
    }

    .x5 {
        animation: falling 8s infinite linear;
        transform: scale(2.2);
        left: -57%;
    }

    .x6 {
        animation: falling 3s infinite linear;
        transform: scale(.8);
        left: -81%;
    }

    .x7 {
        animation: falling 5.3s infinite linear;
        transform: scale(3.2);
        left: 37%;
    }

    .x8 {
        animation: falling 4.7s infinite linear;
        transform: scale(1.7);
        left: 62%;
    }

    .x9 {
        animation: falling 4.1s infinite linear;
        transform: scale(0.9);
        left: 85%;
    }

    @keyframes falling {
        0% {
            top: -100vh;
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        50% {
            top: 0vh;
            opacity: .8;
        }

        75% {
            opacity: 1;
        }

        100% {
            top: 100vh;
            opacity: 0;
        }
    }
}

.dynamic-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1;
}

.fixed-header {
    position: fixed !important;
    height: 5vmin !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    min-height: 40px;
    transition: all .3s;

}

.hidden-header{
    top: -5vmax;
    
    .light {
        display: none;
    }
}