#about {
  font-weight: 100;
}

.about-me {
  font-size: max(1.8vmax, 15px);
}

// Link styles
.about-me-link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  border-color: #6ea4ab;
}

.buttons .about-me-link {
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background-color: #6ea4ab;
    border-color: #6ea4ab;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
  left: 50%;
  width: 30%;
  padding-bottom: 15px;
}
