#post-header {
    display: flex;

    .wrapper {

        #me-block {
            display: none;
            height: 100%;
            padding-right: 5px;
            font-weight: 100;
            font-size: max(2.5vmin, 20px);
            
            a {
                height: 100%;
                text-decoration: none;
                padding-right: 15px;

                img {
                    border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                    box-sizing: border-box;
                    padding: 5px 0;
                    width: 0;
                    height: 0;

                }
            }
        }
    }
}

#post-header.fixed-header {
    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;

        .post-title {
            font-size: max(2.5vmin, 20px);
            margin-bottom: 5px;
            text-align: left;
            transition: all .2s;
            white-space: nowrap;
            font-weight: 100;
        }

        #me-block {
            display: block;

            a {

                img {
                    width: initial;
                    height: initial;
                    animation: fadein .5s;
                }
            }
        }
    }
}

.image-description {
    color: #828282;
    text-align: center;
    display: block;
}