// ==========================================================================
// Post Page Styles (non-header related)
// ==========================================================================

.image-description {
  color: #828282;
  text-align: center;
  display: block;
}