---
---
$brakepoint: 350px;

@import 'minima';
@import 'header_background';
@import 'home';
@import 'alerts';
@import 'posts';
@import 'buttons';
@import 'about';
@import 'comments';
@import 'full_width';

body {
    min-width: 300px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.highlighter-rouge {
    position: relative;
        div.highlight {
        padding-top: 2em;
            code {

                &::before{
                    display: block;
                    background-color: #dbdcdb;
                    color: #000;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    padding: 5px;
                    padding-left: 20px;
                }
            }
    }
}

.language-js{
        div.highlight {
            code {
                &::before{
                    content: 'JS';
                }
            }
    }
}
.language-html{
        div.highlight {
            code {
                &::before{
                    content: 'HTML';
                }
            }
    }
}
.language-python{
        div.highlight {
            code {
                &::before{
                    content: 'Python';
                }
            }
    }
}