<div id="load-simple-example" style="text-align: center;">
    <button onclick="loadExample()">Load Example</button>
    <div>
        <strong>Note that this may take some time and cause the page to freeze</strong>.
    </div>
</div>
<div id="simple-example" style="display: none;">

    Output:
    <textarea id='output' style='width: 100%;' rows='10' disabled></textarea>
    <textarea id='code' rows='3'>
import numpy as np
np.ones((10,))
        </textarea>
    <button id='run' onclick='evaluatePython()'>Run</button>
    <div>You can execute any Python code. Just enter something in the box above and click the button. </div>

    <script type='text/javascript'>
        const output = document.getElementById("output")
        const code = document.getElementById("code")

        function loadExample() {
            document.getElementById('load-simple-example').remove()
            let div = document.getElementById('simple-example')
            div.style.display = 'block'

            output.value = 'Initializing...\n'

            if (!document.getElementById('pyodide-script')) {
                let pyodide_script = document.createElement('script')
                pyodide_script.id = 'pyodide-script'
                pyodide_script.type = 'text/javascript'
                pyodide_script.addEventListener('load', async () => {
                    // init pyodide
                    window.pyodide = await loadPyodide()
                    output.value += 'Ready!\n' 
                })
                pyodide_script.src = 'https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js'
                div.appendChild(pyodide_script)
            }
            else {
                output.value += 'Ready!\n'
            }

        }

        function addToOutput(s) {
            output.value += `${s}\n`
            output.scrollTop = output.scrollHeight
        }

        async function evaluatePython() {
            addToOutput(`>>>${code.value}`)

            // Since pyodide 0.18.0, you must call loadPackagesFromImports() to import any python packages referenced via import statements in your code. This function will no longer do it for you.
            await pyodide.loadPackagesFromImports(code.value, addToOutput, addToOutput)
            try {
                let result = await pyodide.runPython(code.value)
                addToOutput(`${result}`)
            }
            catch (e) {
                addToOutput(`${e}`)
            }
            code.value = ''
        }
    </script>
</div>