body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#main-section {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.canvas-block,
.record-block {
    flex: 1;
    box-sizing: border-box;
}

.record-block {
    margin: 0 0 0 10px;
}

.canvas-wrapper {
    position: relative;
}

#heatmap-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

#img-canvas,
#heatmap-canvas {
    max-width: 100%;
    height: auto;
}

#button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

#button-group button {
    margin-right: 10px;
}

#switch-camera-button {
    display: none;
}

button {
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button svg {
    width: 24;
    height: 24;
}

.paused .pause-icon {
    display: none;
}

.paused .play-icon {
    display: block;
}

.play-icon {
    display: none;
}

.card {
    /* margin: 10px 0 0 0; */
    padding: 10px;
    /* border-top: 1px solid #eee; */
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0.08, 0.15);
}


#slider-container {
    flex-grow: 1;
}

#slider-container input {
    width: 100%;
}

.predictions-container {
    margin-top: 10px;
}

.predictions-container h4 {
    margin: 0 0 10px 0;
}

#prediction-list {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}

.prediction {
    display: flex;
    flex-direction: column;
}

.prediction.selected {
    background: #ece5ff !important;
}

#main-section.paused .prediction {
    cursor: pointer;
    background: #e9ecef;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

}

#main-section.paused .prediction:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

#main-section:not(.paused) .prediction {
    cursor: default;
    background: #fff;
    border: 1px solid #e9ecef;
    box-shadow: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


@media (max-width: 767px) {
    #main-section {
        flex-direction: column;
    }

    .record-block {
        margin: 10px 0 0 0;
    }
}

@media (max-width: 1024px) {
    #main-section {
        flex-wrap: wrap;
    }

    #button-group {
        justify-content: space-between;
    }

    #slider-container {
        order: 3;
        margin-top: 10px;
    }
}

#palette-select {
    display: inline-block;
    width: auto;
    padding: 8px 30px 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #007BFF;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    line-height: 1.1;
    outline: none;
}

/* Optionally, add a wrap div for positioning a custom background arrow */
.select-wrapper {
    position: relative;
    display: inline-block;
    /* Adjust width and display as necessary */
}

.select-wrapper:after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #007BFF;
    font-size: 0.8em;
}