<div id="stackexchange_{{include.platform}}" class="stackexchange"></div>

<script>
    (async ()=>{
        let stackexchange = document.getElementById('stackexchange_{{include.platform}}');
        
        await fetch('https://api.stackexchange.com/2.3/users/{{include.user_id}}?order=desc&sort=reputation&site={{include.platform}}&filter=!-.x6ppGOSi(O')
            .then(response => response.json())
            .then(data => {
                stackexchange.innerHTML+= `<div class='reputation'><span class='text'><i class="fa-brands fa-stack-overflow logo"></i>Reputation</span><span class='value'>${data.items[0].reputation}</span></div>`;
            });
        
        await fetch('https://api.stackexchange.com/2.3/users/{{include.user_id}}/tags?pagesize={{include.tag_count}}&order=desc&sort=popular&site={{include.platform}}&filter=!bMsg5CXICfJ)0K')
            .then(response => response.json())
            .then(data => {
                let content = '<div style="margin-bottom: 30px;">';
                for (const tag of data.items) {
                    content += `<div class='tag'>${tag.name}<span>(${tag.count})</span></div>`;
                }
                stackexchange.innerHTML+= content+'</div>';
            });
    })();
</script>