<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body itemscope itemtype="http://schema.org/BlogPosting">

  {%- assign header_art = page.header | default: "lights.html" %}
  {% include masthead.html art=header_art class=page.header_class heading=page.title brand="" %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
            itemprop="name">Aray Karjauv</span></span>
      </p>
      <article class="post h-entry">



        <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>

    </div>
  </main>

  {%- include footer.html -%}

  <script src="{{ '/assets/js/posts.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/code-blocks.js' | relative_url }}"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        processEscapes: true,
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</body>

</html>
