<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body itemscope itemtype="http://schema.org/BlogPosting">

  <header id="post-header" class="post-title header-background dynamic-header" role="banner">

    <div class="wrapper">
      <div id="me-block">
        <a href="/">
          <img src="{{'/assets/img/me.jpg' | relative_url}}" alt="Aray Karjauv" />
        </a>
        Aray's
      </div>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </div>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
  </header>

  <main class="page-content dynamic-content" aria-label="Content">
    <div class="wrapper">
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
            itemprop="name">Aray Karjauv</span></span>
      </p>
      <article class="post h-entry">



        <div class="post-content e-content" itemprop="articleBody">
          {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>

    </div>
  </main>

  {%- include footer.html -%}

  <script src="{{ '/assets/js/posts.js' | relative_url }}"></script>
  {% if page.math %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        processEscapes: true,
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
  {% endif %}
</body>

</html>